<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>572859446495-d4i7po2qcdh2eekiu0ofutm2sgpal2u3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.572859446495-d4i7po2qcdh2eekiu0ofutm2sgpal2u3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>572859446495-65vkq7qmof3cqepfco78dnjtdnvkk4qh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCSmLhii_WFREDgyeKjDTMUPcJWrxJa5eU</string>
	<key>GCM_SENDER_ID</key>
	<string>572859446495</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecomm</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-6fed0</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-6fed0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:572859446495:ios:47b409f7ce9151fd48256a</string>
</dict>
</plist>